.image_post a {
    text-decoration: none;
    color: black;
}
.post_section {
    background-color: #27374D;;
    display: flex;
    width: 100%;
    justify-content: center;
}
.text_post {
    background-color: darkgray;
    width: 65%;
    height: 55%;
    margin-top: 4%;
    padding: 5px;
}
.image_post {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: lightgray;
    width: 65%;
    height: 500px;
    margin-top: 4%;
    padding: 5px;
    padding-bottom: 0;
}

/* Header Div */
    .upper_div {
        background-color: lightgray;
        height: 15%;
        display: flex;
        align-items: center;
    }
    .post_details {
        margin-left: 5px;
    }
    .author_icon_container {
        background-color: black;
        border-radius: 10px;
        width: 55px;
        height: 55px;
        margin: 4px;
    }
    .author_name {
        height: 27.5px;
    }
    .post_title {
        height: 27.5px;
    }
/* ---------- */

/* Lower Div */
    .lower_div {
        height: 85%
    }

    /* Left Div */
        .lower_left_div {
            background-color: lightgray;
            float: left;
            width: 9%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            column-gap: 5px;
        }
        .lower_left_div div {
            width: 70%;
            height: 10%;
        }
    /* -------- */

    /* Right Div */
        .lower_right_div {
            float: right;
            width: 91%;
            height: 94%;
        }
        .post_content {
            background-color: darkgray;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .image_container {
            background-color: black;
            height: 99%;
            width: 75%;
            display: flex;
            justify-content: center;
            overflow: hidden;
        }
        .post_lowerbar {
            background-color: lightgray;
            width: 100%;
            height: 6%;
        }
    /* --------- */
/* --------- */

/* Icons */
.upvote {
    background-image: url('up-down.png');
    background-size: 100px 100px;

    background-position: -50% 0%;
    height: 100%;
    width: 100%;
}
